*{
    padding: 0;
    margin: 0;
}
.nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #00ff00;
    position: sticky;
    cursor: pointer;
    top: 0;
}
.right-nav{
    width: 50%;
    display: flex;
    justify-content: right;
}
.left-nav{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    width: 20%;
    border-radius: 50%;
    border: 2px solid white;
}
a{
    text-decoration: none;
    color: white;
}
.search{
    margin-right: 2px;
}

    

.FC{
    background-color: #00b0e0;
    border-radius: 0%;
    
    
}
.vsc{
    width: 50%; 

}
 .imgs{
    display: flex;
    justify-content: space-evenly;
    
    
}
.txt-1{
    text-align: center;
}
#About{
    background-color: blueviolet;
    margin-top: 0px;
   
}
.big-txt{
    text-align: center;

}
.nav-list:hover{
    text-decoration: underline;
}
.tri{
    width: 49.8%;
    background-color: #00ff00;
    height: 200px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 2px solid white;
}
.Idea{
    display: flex;
    justify-content: left;
}
.host-web{
    background-color: #00b0e0;
    padding-top: 10px;
}
.heading4{
    font-weight: bold;
    font-size:25px;
    text-align: center;
}
.tri-text{
    font-size: 35px;
}
.Idea2{
    display: flex;
    justify-content: left;
}
.tri:hover{
    border: 2px solid black;
}
h1{
    font-size: 25px;
}
h2{
    font-size: 20px;
}
.line{
    background-color: skyblue;
    width: 100%;
    text-align: center;
}
.footer{
    background-color: gray;
    padding-top: 4px;
    text-align: center;
    color: white;

}
.rows{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}






































@media only screen and (max-width:1145px) {
    .left-nav{
       
        flex-direction:column;
        font-size: 190%;
        
       
    }
    .logo{
        display: none;
    }
    .right-nav{
        display: none;
    }
    .tri-text{
        font-size: 20px;
    }
   
}